# Android & Gradle build files
.gradle/
**/build/
local.properties
.idea/
*.iml
.theia/

# OS / Temporary files
.DS_Store
Thumbs.db
*.tmp

# Compiled test binaries
tests_firmware/test_esp32_protocol
*.o
*.out

